@import 'normalize.scss';
/// COMMON
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.wrapper{
  position: relative;
  z-index: 100;
}
body{
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.section-outer{
  height: 100vh;
}
/// ###COMMON
/// HEADER

.section-header{
background: coral;
}
/// ###HEADER
/// ABOUT
.section-about{
background: cadetblue;
}
/// ###ABOUT

/// FEATURED
.section-featured{
  background: brown;
}
/// ###FEATURED